<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'meta.html' %}
    <title>sorry!</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>sorry!</h1>
                <span> there's been an error </span>
                <p>
                    <a href="{{ request.referrer }}">
                        <button class="btn btn-primary">go back</button>
                    </a>
                </p>
                
            </div>
        </div>
    </div>
</body>
</html>