<!DOCTYPE html>
<html class="w-100 h-100" lang="en">
<head>
	<title>{{ filename }}</title>
    <base href="https://{{ origin }}/">
	{% include 'meta.html' %}
    <script defer>
        window.addEventListener('DOMContentLoaded', function() {
            const saveData = (function () {
                var a = document.body.appendChild(document.createElement("a"));
                a.style = "display: none"
                return (blob) => {
                    a.href = window.URL.createObjectURL(blob);
                    a.download = "{{ filename }}";
                    a.click();
                    window.URL.revokeObjectURL(a.href);
                };
            }());
            document.getElementById("download-button").addEventListener("click", e => {
                fetch("{{ url }}").then(resp => {
                    return resp.blob().then(saveData);
                });
            });
        });
    </script>
</head>
<body class="w-100 h-100 d-flex flex-column">
    <nav class="navbar navbar-dark bg-dark mb-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">dumploader</a>
        <form class="ms-auto d-flex flex-row">
            <i class="bi bi-sun me-3 text-white"></i>
              <div class="form-check form-switch">
                <label class="form-check-label" for="toggle-btn"></label>
                <input class="form-check-input" name="theme" type="checkbox" id="toggle-btn">
                <label class="form-check-label" for="toggle-btn"></label>
              </div>
            <i class="bi bi-moon ms-1 text-white"></i>
        </form>
      </div>
    </nav>
	<main class="container d-flex flex-grow-1 flex-column align-items-center justify-content-center">
        <div class="container-sm w-25 mt-2 border-info border-2 rounded p-2">
            <p class="d-inline-block align-middle">{{ filename }}</p>
            <button class="btn btn-primary float-end" id="download-button">
                <i class="bi bi-file-earmark-arrow-down-fill" style="font-size: 2rem;"></i>
            </button>
        <br style= "clear: both;" />
        </div>
    </main>
    
</body>
</html>