{% extends 'layout.html' %}
{% block title %}duo{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.js') }}">
{% endblock %}
{% block content %}
<span class="flex-shrink-1 mb-3 fs-4 fw-light">dump a file</span>
<button class="btn btn-primary btn-xl d-block mx-auto d-flex flex-row" id="uploadButton">
    <span class="align-self-center me-2">Upload</span> <i class="bi bi-file-earmark-arrow-up-fill" style="font-size: 3rem;"></i>
</button>
<div class="border border-secondary border-2 rounded p-2 mt-2">
    <span>moss.png</span>
    <i class="bi bi-filetype-png my-1 mx-1"></i>
    <a href="#" class="text-decoration-none p-0 m-0">&times;</a>
</div>
{% endblock %}
{% block hidden %}
<input type="file" name="upload" style="display: none;">
{% endblock %}