<nav class="navbar navbar-dark bg-dark mb-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">dumploader</a>
      <form class="ms-auto d-flex flex-row">
          <i class="bi bi-sun me-3 text-white"></i>
            <div class="form-check form-switch">
              <label class="form-check-label" for="toggle-btn"></label>
              <input class="form-check-input" name="theme" type="checkbox" id="toggle-btn">
              <label class="form-check-label" for="toggle-btn"></label>
            </div>
          <i class="bi bi-moon ms-1 text-white"></i>
      </form>
    </div>
  </nav>